
.container{
    position: relative;
    height: 3.5rem;
    width: 25rem;
    outline: none;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.569);
    border: none;
    background-color: white;
}
.input{
    float: right;
    height: 3.5rem;
    width: 20rem;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--LightModeInput);
}
.icon{
    color: grey;
    z-index: 9;
    position: absolute;
    left:0.5rem;
    top:0.6rem;
    width: 2rem;
}