#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}
.searchSelect{
  display: flex;
  width: 93%;
  justify-content:space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 5rem;
}

